<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body >
    <div style="padding: 40px;" class="containerX">
        <div class="flex-container gap3">
            <div  class="flexLeft">
                <i class="fa-brands fa-x-twitter"></i>
            </div>
            <div  class="flexRight">
                <h1 class="slogan marginBot4" >Şu anda olup bitenler</h1>
                <h2 style="font-size: 3rem; margin-bottom: 2rem; font-weight: bold;">Hemen katıl.</h2>
                <a href="" class="button-silindir">Google ile oturum aç     <i style="font-size: 1.8rem;" class="fa-brands fa-google"></i></a>
                <a href="" class="button-silindir"><i class="fa-brands fa-apple"></i> Apple ile kaydol</a>
                <div class="flex-container gap1 marginTop3 marginBot3">
                    <hr>
                    <span>veya</span>
                    <hr>
                </div>
                <a href="" class="button-silindir  bck-blue">Hesap oluştur</a>
                <h2 style="font-size: 1.2rem; margin-left:3rem;">By signing up, you agree to the <span>Terms of Service</span> and <span>Privacy Policy</span>, including <span>Cookie Use</span>.</h2>
                <h2 style="margin:3rem ;">Zaten bir hesabın var mı?</h2>
                <a href="" class="button-silindir  text-blue">Giriş Yap</a>

            </div>
        </div>
    </div>
    <div class="flex-container gap1 paddingX2 paddingY2 marginX2" id="nav-link">
        <a href="">Hakkında</a>
        <a href="">X uygulamasını indir</a>
        <a href="">Yardım Merkezi</a>
        <a href="">Hizmet Şartları</a>
        <a href="">Gizlilik Politikası</a>
        <a href="">Çerez Politikası</a>
        <a href="">Imprint</a>
        <a href="">Erişilebilirlik</a>
        <a href="">Reklam Bilgisi</a>
        <a href="">Blog</a>
        <a href="">Durum</a>
        <a href="">Kariyer</a>
        <a href="">Marka Kaynakları</a>
        <a href="">Pazarlama</a>
        <a href="">İşletmeler için X</a>
        <a href="">Geliştiriciler</a>
        <a href="">Dizin</a>
        <a href="">Ayarlar</a>
    </div>
    <div class="textCenter piksel14">
        © 2024 X Corp.
    </div>
</body>
</html>