*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "TwitterChirpExtendedHeavy","Verdana",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
html{
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    background-color: rgb(255, 255,255);
}
a{
    text-decoration: none;
    color: black;
}
.fs-16{
    font-size: 1.6rem;
}
.fs-24{
    font-size: 1.6rem;
}
.fs-32{
    font-size: 1.6rem;
}
.fs-48{
    font-size: 1.6rem;
}
body{
    font-size: 1.6rem;
    padding: 10px;
}
#nav-link{
    margin-top: 10px;
}
#nav-link a{
    
    color: #536162;
    font-size: 1.3rem;
    margin:auto;
}
#nav-link a:hover{
    color:black;
    border-bottom: 1px solid black;
}
.piksel14{
    font-size: 1.4rem;
}
.deneme{
    border-top: none;
    border-bottom: none;
}
.containerX{
    width: 80%;
    margin: auto;
}
.imager{
    max-width: 100%;
    height: auto;
    border-radius: 6%;
}
.marginTop1{
    margin-top: 8px;
    
}
.marginTop2{
    margin-top: 10px;
}
.marginTop3{
    margin-top: 12px;
}
.marginTop4{
    margin-top: 14px;
}

.marginTop6{
    margin-top: 4rem;
}
.marginTop5{
    margin-top: 150px;
}
.marginBot1{
    margin-bottom: 8px;
}
.marginBot2{
    margin-bottom: 10px;
}
.marginBot3{
    margin-bottom: 12px;
}
.marginBot4{
    margin-bottom: 3rem;
}
.marginBot5{
    margin-bottom: 4rem;
}
.margin1{
    margin: 10px;
}
.textCenter{
    text-align: center;
}
.padding1{
    padding: 6px;
}
.padding2{
    padding: 8px;
}
.padding3{
    padding: 10px;
}
.padding4{
    padding: 12px;
}
.marginX1{
    margin-left: .5rem;
    margin-right: .5rem;
}
.marginX2{
    margin-left: 1rem;
    margin-right: 1rem;
}
.flex-container{
    display: flex;
   
}
.gap1{
    gap:1rem;
}
.gap3{
    gap: 8rem;
}
.gap4{
    gap: 15rem;
}
.bold{
    font-weight: bold;
}
.flexy{
    display: flex;
}
.blocky{
    display: block;
}
.flexy-basis-1{
    flex-grow: 25%;
}
.flexy-basis-2{
    flex-grow: 50%;
}
.flexy-grow-1{
    flex-grow: 1;
}
.flexy-grow-2{
    flex-grow: 2;
}
.flexy-grow-3{
    flex-grow: 3;
}
.flexy-grow-4{
    flex-grow: 4;
}
.flex-container >div{
    
    display: inline-block;
    height: 710x;
}
.align-center{
    align-items: center;
}
.paddingX1{
    padding-left: .5rem;
    padding-right: .5rem;
}
.paddingX2{
    padding-left: 1rem;
    padding-right: 1rem;
}
.paddingY1{
    padding-bottom: .5rem;
    padding-top: .5rem;
}
.paddingY2{
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.flexLeft{
    width: 100%;
    font-size: 38rem;
    text-align: center;
    padding-top: auto;
    margin-right:3rem ;
}.flexRight{
    width: 100%;

}
.slogan{
    font-size: 6rem;
    font-weight: bold;
}
.text-white{
    color: white;
}
.text-black{
    color: black;
}
.text-gray{
    color: gray;
}
.border-radius10{
    border-radius: 10px;
}
.buttonsade{
    padding: .8rem;
    font-size: 1.6rem;
    background-color: white;
    text-align: center;
    border: none;
}
.buttonsade1{
    margin: auto;
    padding: .8rem;
    font-size: 1.6rem;
    background-color: white;
    
    border: none;
}
.buttonsade1:hover{
    background-color: #EEEEEE;
}
.buttonsade1:active{
    border-bottom: #0B60B0;
}
.bg{
    background-color: gray;
    height: 200px;
    position: relative;
    width: 100%;
}
.bggray{
    background-color: gray;

}
.profileImage{
    position: absolute;
    
    top: 120px;
    left: 0;
    width: 150px;
    height: 150px;    
  
}
.mtt{
    margin-top: 100px;
}
.profileImage2{
    position: absolute;
    
    top: 200px;
    right: 0;
    width: 150px;
    height: 150px;    
  
}
.button-silindir{
    border-radius: 12px;
    padding: .8rem;
    font-size: 1.6rem;
    background-color: white;
    border: 1px solid #5c6768 ;
    text-align: center;
    display: block;
    width: 250px;
    margin: auto;
    margin-bottom: 1.3rem;
}
.button-silindir2{
    border-radius: 12px;
    padding: 1.2rem;
    font-size: 1.6rem;
    background-color: white;
    border: 1px solid #5c6768 ;
    
}
.button-silindir3{
    border-radius: 12px;
    padding: 1.2rem;
    font-size: 1.6rem;
    background-color: black;
    color: white;
    
    
}

.gosterme{
    display: none;
}
.button-silindir:hover{
    background-color: #536162;
}
.buttonYeni{
    border-radius: 12px;
    padding: .8rem;
    font-size: 1.6rem;
    background-color: #536162;
    border: 1px solid #5c6768 ;
    text-align: center;
    display: block;
    width: 250px;
    margin: auto;
    margin-bottom: 1.3rem;
}
.buttonYeni:hover{
    background-color: #0B60B0;
}
.flex-container hr{
    width: 47%;
    color: black;
}
.bck-blue{
    background-color: #4CB9E7;
}
h2 span{
    color:#0079FF;

}
h2 span:hover{
    cursor: pointer;
}
.text-blue{
    color: #0079FF;
}
.widthFull{
    width: 100%;
}
.signHidden{
    width: 600px;
    height: 650px;
    z-index: 3;
    border-radius: 10px;
  background-color:white;

    

  position:absolute;

  left: 50%;

  top: 50%;

  margin-left: -300px;

  margin-top: -325px;
}
.font16{
    font-size: 1.6rem;
}
.font24{
    font-size: 2.4rem;
}
.exit{
    font-size: 2rem;
    border: none;
    background-color: white;
}
.input{
    padding: 1rem;
    margin-top: 2rem;
    width: 100%;
    border: 1px solid black;
    border-radius: 6px;
}
.inputy{
    padding: 1rem;
    width: 90%;
    border: 1px solid black;
    border-radius: 6px;
}
.covered{
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: rgba(128, 128, 128,0.8);
    z-index: 2;
}
.renk{
    background-color: rgba(128, 128, 128,0.8);
}
.hidden{
    visibility: unset;
}
.poiter {
    pointer-events: none;
}
.custom-select{
    border-radius: 4px;

}