<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body style="margin: 0; padding: 0;">
    <div class="covered" >
        <div style="padding: 48px;" class="containerX" >
            <div class="flex-container gap4">
                
                
                
              
            </div>
            
      
        </div>
    </div>
    
       
    </div>
</body>

</html>